In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
car=pd.read_csv(r'B:\Datasets\car\quikr_car.csv')

In [4]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [5]:
car.shape

(892, 6)

In [6]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [7]:
backup=car.copy()

In [8]:
car=car[car['year'].str.isnumeric()]
car['year']=car['year'].astype(int)
car=car[car['Price']!='Ask For Price']
car['Price']=car['Price'].str.replace(',','').astype(int)
car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')
car=car[car['kms_driven'].str.isnumeric()]
car['kms_driven']=car['kms_driven'].astype(int)
car=car[~car['fuel_type'].isna()]

In [10]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel

In [11]:
car['name']=car['name'].str.split().str.slice(start=0,stop=3).str.join(' ')

In [12]:
car=car.reset_index(drop=True)

## cleaned data

In [13]:
car.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4               Ford Figo      Ford  2012  175000       41000    Diesel

In [14]:
car.to_csv('Cleaned_Car_data.csv')

In [15]:

car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [20]:
car.describe()

              year         Price     kms_driven
count   815.000000  8.150000e+02     815.000000
mean   2012.442945  4.017933e+05   46277.096933
std       4.005079  3.815888e+05   34318.459638
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.900000e+05   56879.000000
max    2019.000000  3.100000e+06  400000.000000

In [17]:
car=car[car['Price']<6000000]

In [18]:
car['company'].unique()

array(['Hyundai', 'Mahindra', 'Ford', 'Maruti', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'], dtype=object)

In [21]:
x = car.drop(['Price'], axis=1)
y = car['Price']

In [22]:
x

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
812          Tata Indica V2      Tata  2009       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009      132000    Petrol
814            Tata Zest XM      Tata  2018       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [23]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
811    270000
812    110000
813    300000
814    260000
815    390000
Name: Price, Length: 815, dtype: int32

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2)

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [26]:
ohe = OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)

In [29]:
column_trans = make_column_transformer((OneHotEncoder(categories= ohe.categories_),['name','company','fuel_type']), remainder = 'passthrough')

In [30]:
lr=LinearRegression()

In [31]:
pipe= make_pipeline(column_trans,lr)

In [32]:
pipe.fit(x_train,y_train)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'B...
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)],
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                sparse=True),
                                                  ['name', 'company',
                                                   'fuel_type'])],
                                   verbose=False)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [33]:
y_pred=pipe.predict(x_test)

In [34]:
y_pred

array([ 362066.99005095,  602588.55847022,  157803.49980722,
         29152.32073779,  520550.96665403,  261323.47918038,
        100946.13151852,  239515.07258644,  264121.7339782 ,
        244013.42232602,  479396.3471248 ,   60646.55922507,
         79149.12358627, 1235291.84687728,  212864.49239305,
        907185.5852213 ,  558624.70714591,   96069.3311656 ,
        491824.03971034,  316395.52829406,  300023.28771541,
         47814.91603076,  365017.10628437,  624542.26055855,
        844866.14898302,  532674.74894068,  634766.53897112,
        590752.15066821,  316395.52829406,  339629.37276513,
        320132.9604286 ,  183830.20232482,  520557.44770908,
       1594315.85174694,  282757.4073426 ,  133745.34112209,
         37869.12547198,  302048.26465154,  368289.17379326,
         21140.42166033,  504259.02577583,  292031.58501177,
        261365.97408151,  339983.12140797,  492067.07927476,
        336827.99215399,  593295.38252456,  284579.9108541 ,
        401221.15726484,  235123.0228019 ,  252406.41870756,
        589280.91391983,  301913.78275923,  539147.20683198,
        372229.66576397,    5188.55940308,  709837.64307784,
        641112.14822093,  449818.59060442,  171224.53782243,
        128673.79733478,  218766.79940335,  431933.30138204,
        261895.88910298,  302046.23932184,  181154.16914147,
        489492.93908715,  292710.40557541,  371152.50823716,
        548955.41104716,  147222.33764308,  362066.99005095,
        464238.55652937,  211427.14154764,  424217.91733178,
        300180.4533004 ,  370831.97555133,  208150.04477958,
        242661.13742933,  -10619.09453737, 1554379.52216851,
         99452.95841923,  351053.57253221,   49417.46752959,
        623478.92878531,  367466.54566003,   92847.77422094,
       1889962.35490627,  334697.88045132,  283410.77645596,
        616005.35563597,  334896.2563942 ,  241047.67928314,
        251370.50307081,  623535.28155898,  129807.31102204,
        514425.53327332,  540220.79379793,  142227.53998562,
        399932.54788969,   86176.19909354, 1609857.40132374,
        505071.07884093,  400128.38874775,  112921.55642149,
         35995.85496597,  356578.17549635,  533296.90620552,
        219924.15380912,    9717.14557084,  150077.90190009,
        432862.37527551,  597970.48096443,  204288.12186707,
        282011.77333945,  373976.93383174, 1889962.35490627,
        279698.22221271,  238062.883519  ,  443408.56765958,
        219641.91257752,  159799.53375065,  221829.38753384,
        525944.75943968,   68495.35225094,  381656.13577665,
        308776.45361106,  528993.79702197,  214118.14329726,
        218766.79940335,  500554.981936  ,   99404.35050634,
        290439.4506718 ,  448574.94306213,  497789.0282364 ,
        338383.06249931,  270756.33129274,  346289.6119906 ,
        205476.60957095, 1599030.29030442,  886719.72401206,
       1574821.88721672,  230772.51858832,  459779.41794618,
       1598958.83667248,  406326.17405756,  523489.72235744,
        172442.84978995,  973229.09791955,  756487.71827526,
        113304.05324235,  566163.56580253,  640901.10886582,
        167639.59093943, 1167545.67083127,  252717.95305604,
        496155.83911406,  -40866.48118407,  665038.92230266,
        539568.47541032,  272827.83932078,  296693.84827013,
        132548.09617968])

In [35]:
r2_score(y_test,y_pred)

0.6786873257380569

In [36]:
scores=[]
for i in range(1000):
    x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2, random_state=i) 
    lr=LinearRegression()
    pipe= make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [37]:
np.argmax(scores)

661

In [38]:
scores[np.argmax(scores)]

0.8897762920578806

In [39]:
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2, random_state=np.argmax(scores)) 
lr=LinearRegression()
pipe= make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.8897762920578806

In [40]:
import pickle

In [41]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [44]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']], columns=['name','company','year','kms_driven','fuel_type']))

array([400821.27275562])